* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google fonts added */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
/*!google fonts added complete  */

/* common styles */
.hide {
  display: none;
}
.container {
  width: 78.33%;
  margin: 0 auto;
}
.main-bg {
  background-color: #e5e5e5;
}
.btn {
  background-color: #ff136f;
  padding: 12px 42px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.heading {
  font-size: 36px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 24px;
}
.paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #4e4e4e;
}
/* navbar styles */
.navbar-container {
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*!navbar styles end */

/* banner styles */
.hero-section {
  background-color: #feeae9;
  border-radius: 15px;
  margin-top: 60px;
}
.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.hero-content * {
  margin-bottom: 25px;
}
.hero-content {
  margin-left: 25px;
}
.hero-image {
  margin-right: 25px;
}

.hero-content h1 {
  font-size: 56px;
  margin-right: 25px;
  font-weight: 700;
  color: #1f1f1f;
  padding-top: 25px;
}

.hero-content h4 {
  font-size: 41px;
  font-weight: 500;
  color: #ff136f;
}
.hero-image img {
  width: 400px;
}

/* categories styles */
.categories {
  margin-top: 50px;
  margin-bottom: 100px;
}
.category-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card {
  width: 360px;
  background-color: rgba(255, 255, 0, 0.473);
  border-radius: 20px;
  padding: 13px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.card h4 {
  color: black;
  font-size: 36px;
  font-weight: 500;
}
.card-2-bg {
  background-color: lightcoral;
}
.card-3-bg {
  background-color: lightskyblue;
  gap: 30px;
}

/* shoe section styles */
.shoes {
  margin-bottom: 100px;
}
.shoe-card-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.shoe-card {
  background-color: #ffffff;
  padding: 24px;
  width: 360px;
  text-align: center;
  border: 2px solid #929292;
  border-radius: 20px;
}
.shoe-card * {
  margin-bottom: 20px;
}
.shoe-card h4 {
  font-size: 22px;
  font-weight: 600;
  color: #1f1f1f;
}

.shoe-card .price {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
#card-btn-bg {
  background-color: #000000;
}

/* bags style */

.bag-card * {
  margin-bottom: 10px;
}

/* footer styles */
.footer-container {
  background-color: #fff2f1;
  margin-bottom: 75px;
  text-align: center;
  padding: 146px 246px;
}
.footer-heading {
  margin-bottom: 20px;
}
.footer-heading h4 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #1f1f1f;
}

.footer-heading p {
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
/* .footer-email {
  display: flex;
  align-items: center;
} */
.footer-email input {
  width: 450px;
  height: 42px;
  padding: 15px 35px;
}
.footer-btn {
  border-radius: 0;
  margin-left: -4px;
  padding: 12px 35px;
}
