* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google fonts added */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
/*!google fonts added complete  */

/* common styles */
.hide {
  display: none;
}
.container {
  width: 78.33%;
  margin: 0 auto;
}
.main-bg {
  background-color: #e5e5e5;
}
.btn {
  background-color: #ff136f;
  padding: 12px 42px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.heading {
  font-size: 36px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 24px;
}
.paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #4e4e4e;
}
/* navbar styles */
.navbar-container {
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*!navbar styles end */

/* banner styles */
.hero-section {
  background-color: #feeae9;
  border-radius: 15px;
  margin-top: 60px;
}
.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.hero-content * {
  margin-bottom: 25px;
}
.hero-content {
  margin-left: 25px;
}
.hero-image {
  margin-right: 25px;
}

.hero-content h1 {
  font-size: 56px;
  margin-right: 25px;
  font-weight: 700;
  color: #1f1f1f;
  padding-top: 25px;
}

.hero-content h4 {
  font-size: 41px;
  font-weight: 500;
  color: #ff136f;
}
.hero-image img {
  width: 400px;
}

/* categories styles */
.categories {
  margin-top: 50px;
  margin-bottom: 100px;
}
.category-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card {
  width: 360px;
  background-color: rgba(255, 255, 0, 0.473);
  border-radius: 20px;
  padding: 13px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.card h4 {
  color: black;
  font-size: 36px;
  font-weight: 500;
}
.card-2-bg {
  background-color: lightcoral;
}
.card-3-bg {
  background-color: lightskyblue;
  gap: 30px;
}

/* shoe section styles */
.shoes {
  margin-bottom: 100px;
}
.shoe-card-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.shoe-card {
  background-color: #ffffff;
  padding: 24px;
  width: 360px;
  text-align: center;
  border: 2px solid #929292;
  border-radius: 20px;
}
.shoe-card * {
  margin-bottom: 20px;
}
.shoe-card h4 {
  font-size: 22px;
  font-weight: 600;
  color: #1f1f1f;
}

.shoe-card .price {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
#card-btn-bg {
  background-color: #000000;
}

/* bags style */

.bag-card * {
  margin-bottom: 10px;
}

/* footer styles */
.footer-container {
  background-color: #fff2f1;
  margin-bottom: 75px;
  text-align: center;
  padding: 146px 246px;
}
.footer-heading {
  margin-bottom: 20px;
}
.footer-heading h4 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #1f1f1f;
}

.footer-heading p {
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}

.footer-email input {
  width: 450px;
  height: 42px;
  padding: 15px 35px;
  border: none;
}
.footer-btn {
  border-radius: 0;
  margin-left: -4px;
  padding: 12px 35px;
}
/* Media Queries */

/* desktop 1201px  */
@media screen and (max-width: 1399px) {
  .hero-content * {
    margin-bottom: 5px;
  }
  .hero-content h1 {
    font-size: 33px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .hero-image img {
    width: 350px;
  }

  .category-cards-container {
    flex-wrap: wrap;
    gap: 192px;
    justify-content: center;
  }
  .shoe-card * {
    margin-bottom: 10px;
  }
  .shoe-card {
    padding: 10px;
  }
  .shoe-card-container {
    flex-wrap: wrap;
    gap: 190px;
    justify-content: center;
  }
  .footer-email input {
    width: 340px;
  }
}

/* laptop devices starts from 1025px to 1200px */
@media screen and (max-width: 1200px) {
  .hero-content * {
    margin-bottom: 5px;
  }
  .hero-content h1 {
    font-size: 28px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .hero-image img {
    width: 300px;
  }

  .card {
    margin-bottom: 20px;
  }

  .category-cards-container {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .shoe-card-container {
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
  }
  .footer-container {
    padding: 100px 246px;
  }
  .footer-heading h4 {
    font-size: 29px;
  }
  .footer-email input {
    width: 200px;
  }
}

/* Tablet devices  starts from 769px to 1024px */
@media screen and (max-width: 1024px) {
  .navbar-container {
    flex-direction: row-reverse;
    gap: 30px;
  }
  .hero-container {
    flex-direction: column;
    padding: 30px;
  }
  .hero-content {
    text-align: center;
    margin-left: 0;
  }
  .hero-image img {
    width: 100%;
  }
  .category-cards-container {
    justify-content: center;
  }
  .heading {
    text-align: center;
  }
  .footer-container {
    padding: 90px 135px;
  }
  .footer-email input {
    padding: 13px 37px;
  }
}

/* android device landscape   starts from 569px to 768px*/
@media screen and (max-width: 768px) {
  .hero-container {
    padding: 15px;
    text-align: center;
  }
  .footer-container {
    padding: 60px 25px;
  }
}

/* android device portrait  maximum 300px */
@media screen and (max-width: 568px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-content {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .hero-content h1 {
    font-size: 18px;
    margin-top: 10px;
  }
  .hero-image img {
    width: 100%;
  }
  .btn {
    padding: 12px 20px;
  }
  .card {
    flex-direction: column;
    margin-bottom: 0;
  }

  .shoe-card h4 {
    font-size: 21px;
  }
  .shoe-card img {
    width: 190px;
  }
  .footer-heading h4 {
    font-size: 17px;
  }
  .footer-heading p {
    font-size: 10px;
  }
  .footer-email input {
    width: 130px;
    height: 35px;
    padding: 2px 2px;
  }
  .btn {
    padding: 9px 5px;
  }
}
