/* desktop 1201px  */
@media screen and (min-width: 1201px) {
  .hero-content * {
    margin-bottom: 5px;
  }
  .hero-content h1 {
    font-size: 33px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .hero-image img {
    width: 350px;
  }
}
/* laptop devices starts from 1025px to 1200px */
@media screen and (max-width: 1200px) {
  .hero-content * {
    margin-bottom: 5px;
  }
  .hero-content h1 {
    font-size: 28px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .hero-image img {
    width: 300px;
  }
}

/* Tablet devices  starts from 769px to 1024px */
@media screen and (max-width: 1024px) {
  .navbar-container {
    flex-direction: column;
    gap: 30px;
  }
  .hero-container {
    flex-direction: column;
    padding: 30px;
  }
  .hero-image img {
    width: 100%;
  }
}

/* android device landscape   starts from 569px to 768px*/
@media screen and (max-width: 768px) {
  .hero-container {
    padding: 15px;
    text-align: center;
  }
}

/* android device portrait  maximum 300px */
@media screen and (max-width: 568px) {
  .hero-container {
    flex-direction: column;
    gap: 20px;
  }
  .hero-content {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .hero-content h1 {
    font-size: 18px;
    margin-top: 10px;
  }
  .hero-image img {
    width: 100%;
  }
  .btn {
    padding: 12px 20px;
  }
}
